body{
    background-color: black;
}
.common{
    border: 2px solid black;
    position: absolute;
}
.nav{
    position: relative;
    float: right;
    background-color: white;
    z-index: 3;
    font-size: small;
    color: #6E7CA0;
}
.header{
    background-color: #0047BA;
    color: white;
    text-align: center;
    left: 0px;
    right: 0px;
    top: 0px;
    height: auto;
    z-index: 2;
}
.main{
    background-color: white;
    text-align: left;
    top: 40.5px;
    left: 0px;
    right: 0px;
    bottom: auto;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1;

    position: absolute;
}
.background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 400%;
    height: 400%;
    z-index: -1;
    opacity: 0.3;
}
.footer{
    position: fixed;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 20px;
    background-color: #0047BA;
    color: white;
    display: flexbox;
    z-index: 1;
}
.us{
    width: 15%;
}
img{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flexbox;
    justify-content: center;
    gap: 50px;
    max-width: 10000px;
}
/* Make image containers layout horizontally and allow wrapping */
/* .container{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: flex-start;
}
/* Override generic img centering for images inside .container */
/* .container img{
        display: block;
        margin: 0;
        width: 30%;
        max-width: 100%;
} */
p {
    text-align:left;
}