body{
                font-family: cursive, 'Times New Roman';
                color: white;
                font-size: 200%;
                background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjBEshbQX69N_1uz7VNeRRQODN1zGrkDXIIg&s");
                background-repeat: repeat-y;
                background-size: 100%;
            }
            h1{ 
                font-family: papyrus;
                color: skyblue;
            }
            p{
                padding: 20px;
                border: 10px solid rgb(20, 20, 248);
                margin : 20px;
            }
            img{
                border-radius: 20cm;
                border: 5px dashed darksalmon;
            }
            .rizz{
                font-family: chiller;
                color: rgb(0, 0, 0);
                background-color: rgb(118, 4, 25);
                font-weight: bolder;
                text-decoration: ;
                border: groove 6px rgb(251, 0, 0);
                font-size: 50px;
            }
            .rizz:hover{
                font-size: 200%;
                text-transform: uppercase;
            }
            li:hover{
                background-color: antiquewhite;
            }